<section class="pb_cover_v3 overflow-hidden cover-bg-indigo cover-bg-opacity text-left pb_gradient_v1 pb_slant-light" id="section-home">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6">
        <h2 class="heading mb-3">Générer vos musiques libre</h2>
        <div class="sub-heading">
          <p class="mb-4">Obeat vous permet de générer des musique à partir d'un thème ou d'une vidéo, qui sera libre de droit.</p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5 relative align-self-center">

        <form action="#" class="bg-white rounded pb_form_v1">
          <h2 class="mb-4 mt-0 text-center">S'inscrire WIP</h2>
          <div class="form-group">
            <input type="text" class="form-control pb_height-50 reverse" placeholder="Nom">
          </div>
          <div class="form-group">
            <input type="text" class="form-control pb_height-50 reverse" placeholder="Prénom">
          </div>
          <div class="form-group">
            <input type="text" class="form-control pb_height-50 reverse" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control pb_height-50 reverse" placeholder="Mot de passe">
          </div>
          <!--<div class="form-group">
            <div class="pb_select-wrap">
              <select class="form-control pb_height-50 reverse">
                <option value="" selected>Type</option>
                <option value="">Basic</option>
                <option value="">Business</option>
                <option value="">Free</option>
              </select>
            </div>
          </div>-->
          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" value="S'inscrire">
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
