
<section class="pb_section pb_slant-light">
  <div class="container">
    <div class="row justify-content-center mb-2">
      <div class="col-md-6 text-center mb-5">
        <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>Générateur WIP</strong></h5>
        <h2>Vidéo</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md- col-sm-12">
        <div class="row mb-5">
          <div class="col">
            <h2>Le thême de demain</h2>
            <p class="pb_font-20">Essayez de générer la mausique de demain à partir de vos goûts.</p>
          </div>
        </div>
      </div>

      <div div="col-lg-12 col-md- col-sm-12 card" style="width: 100%">
        <div class="row bg-secondary card-body">
          <div class="col-lg-12 col-md- col-sm-12">

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Téléchargement</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                       aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choisir un fichier</label>
              </div>
            </div>

          </div>
        </div>
        <div class="card-footer bg-dark row"><button class="btn btn-success btn-lg pb_btn-pill smoothscroll"><span class="pb_font-14 text-uppercase pb_letter-spacing-1">Générer</span></button></div>
      </div>
    </div>
  </div>
</section>
