
<section class="pb_section bg-light pb_slant-white pb_pb-250" id="section-theme">
  <div class="container">
    <div class="row justify-content-center mb-2">
      <div class="col-md-6 text-center mb-5">
        <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>Générateur WIP</strong></h5>
        <h2>Thème</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md- col-sm-12">
        <div class="row mb-5">
          <div class="col">
            <h2>Le thême de demain</h2>
            <p class="pb_font-20">Essayez de générer la mausique de demain à partir de vos goûts.</p>
          </div>
        </div>
      </div>

      <div div="col-lg-12 col-md- col-sm-12 card">
        <div class="row bg-secondary card-body">
          <div class="col-lg-4 col-md- col-sm-6">
            <div class="col-auto">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="ion-ios-infinite-outline pb_icon-gradient icon_24"></i></div>
                </div>
                <input type="number" step="0.01" class="form-control" id="durationInput" placeholder="Durée" [disabled]="!durationUsed" [(ngModel)]="duration" [value]="durationTxt">
                <div class="input-group-append">
                  <div class="input-group-text"><input type="checkbox" [(ngModel)]="durationUsed" (change)="updateChangeDuration()"/></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md- col-sm-6">
            <div class="col-auto">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="ion-ios-bookmarks-outline pb_icon-gradient icon_24"></i></div>
                </div>
                <select class="form-control">
                  <option>Sélectionner un thème</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md- col-sm-12">
            <div class="col-auto">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="ion-ios-pulse pb_icon-gradient icon_24"></i></div>
                </div>
                <input type="number" step="1" class="form-control" id="bpmInput" placeholder="Bpm" [disabled]="!bpmUsed" [(ngModel)]="bpm" [value]="bpmTxt">
                <div class="input-group-append">
                  <div class="input-group-text"><input type="checkbox" [(ngModel)]="bpmUsed" (change)="updateChangeBpm()"/></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer bg-dark row"><button (click)="generateTheme()" class="btn btn-success btn-lg pb_btn-pill smoothscroll"><span class="pb_font-14 text-uppercase pb_letter-spacing-1">Générer</span></button></div>
      </div>
    </div>
  </div>
</section>
